@font-face {
  font-family: 'WorkSans';
  font-weight: 100;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 200;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 300;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 400;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 500;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 600;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 700;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 800;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 900;
  font-style: Normal;
  src: url('../fonts/WorkSans/WorkSans-Black.ttf') format('truetype');
}