body {
  z-index: 0 !important;
}

.jumbotron {
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 0 !important;
}
.jumbotron img.logo {
  width: 320px !important;
  z-index: 999999999 !important;
}

.card {
  transition: all 0.5s ease;
  height: 240px;
  border: 0px;
}
.card-text {
  color: white;
}

.card-text small {
  display: block;
  font-weight: 300;
  font-size: 12px;
  opacity: 0.5;
}

.card-img {
  opacity: 0.3;
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card.bg-dark {
  background: black !important;
}

.card:hover {
  cursor: pointer !important;
  margin-top: -3px;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1 !important;
}

.mask-light {
  background: rgba(255, 255, 255, 0.5);
}

